<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.test.filter.SessionFilter</filter-class>
    <init-param>
      <param-name>noFilterURI</param-name>
      <param-value>
              /login.jsp
          </param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>StartCaptchaServlet</servlet-name>
    <servlet-class>com.geetest.sdk.java.web.demo.StartCaptchaServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VerifyLoginServlet</servlet-name>
    <servlet-class>com.geetest.sdk.java.web.demo.VerifyLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>web.servlet.HandleLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userCenterServlet</servlet-name>
    <servlet-class>web.servlet.UserCenterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkVoteServlet</servlet-name>
    <servlet-class>web.servlet.CheckVoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>createVoteServlet</servlet-name>
    <servlet-class>web.servlet.CreateVoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>createTxtVoteServlet</servlet-name>
    <servlet-class>web.servlet.CreateTxtVoteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>schoolChoiceChangeServlet</servlet-name>
    <servlet-class>web.servlet.SchoolChoiceChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>collegeChoiceChangeServlet</servlet-name>
    <servlet-class>web.servlet.CollegeChoiceChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>collegeStudentChangeServlet</servlet-name>
    <servlet-class>web.servlet.CollegeStudentChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>departChoiceChangeServlet</servlet-name>
    <servlet-class>web.servlet.DepartChoiceChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectedChoiceChangeServlet</servlet-name>
    <servlet-class>web.servlet.SelectedChoiceChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>entranceTimeChoiceChangeServlet</servlet-name>
    <servlet-class>web.servlet.EntranceTimeChoiceChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkVoteDetailServlet</servlet-name>
    <servlet-class>web.servlet.CheckVoteDetailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uploadImageServlet</servlet-name>
    <servlet-class>web.servlet.UploadImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>voteAnalyzeServlet</servlet-name>
    <servlet-class>web.servlet.VoteAnalyzeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>analyzeCollegeChoiceChangeServlet</servlet-name>
    <servlet-class>web.servlet.AnalyzeCollegeChoiceChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>u14ChartChangeServlet</servlet-name>
    <servlet-class>web.servlet.U14ChartChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>u15ChartChangeServlet</servlet-name>
    <servlet-class>web.servlet.U15ChartChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerJavaSmsApiServlet</servlet-name>
    <servlet-class>com.yinpian.sdk.java.RegisterJavaSmsApiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerVerifyServlet</servlet-name>
    <servlet-class>com.geetest.sdk.java.web.demo.RegisterVerifyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerUserServlet</servlet-name>
    <servlet-class>web.servlet.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkNickNameServlet</servlet-name>
    <servlet-class>web.servlet.CheckNickNameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkPhoneServlet</servlet-name>
    <servlet-class>web.servlet.CheckPhoneServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updatePsdServlet</servlet-name>
    <servlet-class>web.servlet.UpdatePsdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateVotedUsers</servlet-name>
    <servlet-class>web.servlet.UpdateVotedUsers</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>uEditorServlet</servlet-name>
    <servlet-class>web.servlet.UEditorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>createCandidateServlet</servlet-name>
    <servlet-class>web.servlet.CreateCandidateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>joinToCandidateServlet</servlet-name>
    <servlet-class>web.servlet.JoinToCandidateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkCandidateServlet</servlet-name>
    <servlet-class>web.servlet.CheckCandidateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>updateCandidatesServlet</servlet-name>
    <servlet-class>web.servlet.UpdateCandidatesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>candidatePublishServlet</servlet-name>
    <servlet-class>web.servlet.CandidatePublishServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>candidateAnalyzeServlet</servlet-name>
    <servlet-class>web.servlet.CandidateAnalyzeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uEditorServlet</servlet-name>
    <url-pattern>/uEditorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VerifyLoginServlet</servlet-name>
    <url-pattern>/VerifyLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartCaptchaServlet</servlet-name>
    <url-pattern>/StartCaptchaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userCenterServlet</servlet-name>
    <url-pattern>/userCenterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkVoteServlet</servlet-name>
    <url-pattern>/checkVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>schoolChoiceChangeServlet</servlet-name>
    <url-pattern>/schoolChoiceChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>collegeChoiceChangeServlet</servlet-name>
    <url-pattern>/collegeChoiceChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>collegeStudentChangeServlet</servlet-name>
    <url-pattern>/collegeStudentChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>departChoiceChangeServlet</servlet-name>
    <url-pattern>/departChoiceChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectedChoiceChangeServlet</servlet-name>
    <url-pattern>/selectedChoiceChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>entranceTimeChoiceChangeServlet</servlet-name>
    <url-pattern>/entranceTimeChoiceChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkVoteDetailServlet</servlet-name>
    <url-pattern>/checkVoteDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>uploadImageServlet</servlet-name>
    <url-pattern>/uploadImageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>voteAnalyzeServlet</servlet-name>
    <url-pattern>/voteAnalyzeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>analyzeCollegeChoiceChangeServlet</servlet-name>
    <url-pattern>/analyzeCollegeChoiceChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>u14ChartChangeServlet</servlet-name>
    <url-pattern>/u14ChartChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>u15ChartChangeServlet</servlet-name>
    <url-pattern>/u15ChartChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerJavaSmsApiServlet</servlet-name>
    <url-pattern>/registerJavaSmsApiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerVerifyServlet</servlet-name>
    <url-pattern>/registerVerifyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerUserServlet</servlet-name>
    <url-pattern>/registerUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkNickNameServlet</servlet-name>
    <url-pattern>/checkNickNameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkPhoneServlet</servlet-name>
    <url-pattern>/checkPhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updatePsdServlet</servlet-name>
    <url-pattern>/updatePsdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createTxtVoteServlet</servlet-name>
    <url-pattern>/createTxtVoteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateVotedUsers</servlet-name>
    <url-pattern>/updateVotedUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createCandidateServlet</servlet-name>
    <url-pattern>/createCandidateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>joinToCandidateServlet</servlet-name>
    <url-pattern>/joinToCandidateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkCandidateServlet</servlet-name>
    <url-pattern>/checkCandidateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>updateCandidatesServlet</servlet-name>
    <url-pattern>/updateCandidatesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>candidatePublishServlet</servlet-name>
    <url-pattern>/candidatePublishServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>candidateAnalyzeServlet</servlet-name>
    <url-pattern>/candidateAnalyzeServlet</url-pattern>
  </servlet-mapping>
</web-app>